<h1>Here are the best first scrabble words (maximum points) for your choice of letters</h1>
<p>Letters passed: <%- letters %></p>

<script>

 var word  = <%-JSON.stringify(letters)%>;
 console.log(word);
 console.log(typeof word);

 function factorial(n){
    //base case
    if(n == 0 || n == 1){
        return 1;
    //recursive case
    }else{
        return n * factorial(n-1);
    }
}

 let findPermutations = (string) => {
   if (string.length < 2 ){
    return string
  }

  let permutationsArray = []

  for (let i = 0; i < string.length; i++){
    let char = string[i]

    if (string.indexOf(char) != i)
    continue

    let remainingChars = string.slice(0, i) + string.slice(i + 1, string.length)

    for (let permutation of findPermutations(remainingChars)){
      permutationsArray.push(char + permutation) }
  }
  return permutationsArray
}

let wordArray = findPermutations(word);

var i;
for(i = 0; i < factorial(word.length); i++){
    console.log(wordArray[i]);
}

</script>
